{% extends 'datadrivenapp/home.html' %}-
{% block content %}
{% load humanize %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"/>

<section class="content-header">
      <h1>
        MIKAEL
        <small>it all starts here</small>
      </h1>
    </section>

<section class="content container-fluid">

    <div id="result" class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Available data</h3>
            <br><br>
        </div>
        <div class="divider">

            <style>
                a.one:link {color:#42d0ec;}
                a.one:visited {color:#0000ff;}
                a.one:hover {color:#ffcc00;}
            </style>

        </div>
        
        <div class="box-body">
            <div class="form-group">
                        <form method="post" action="">
			{% csrf_token %}
	    		<input type="text" name="KdistanceThold">
                  <button type="submit" class="btn btn-primary"> Kdistance</button>
                        </form>
            <table id="resultsTbl" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-light" style="width:100%">    
                    <tr class="mdl-data-table__cell--non-numeric">
                        <!-- <th>CTR</th> -->
                        <th>Kdistance</th>
                        <th>Composite Name</th>
                        <th>QueryData</th>
                    </tr> 
                </thead>
                <tbody>
               {% for i,row in dfdpmatches.iterrows %}

                <tr class="mdl-data-table__cell--non-numeric">
                <td>{{row.Kdistance}}</td>
                <td>{{row.DatabaseData}}</td>
                <td>{{row.QueryData}}</td>
                   </tr> 
               {% endfor %} 

                </tbody>
            </table>
            
                <!-- <div class="modal hide fade" id="myModal">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3>Modal header</h3>
                        </div>
                        <div class="modal-body">
                        <p>One fine body…</p>
                        </div>
                        <div class="modal-footer">
                        <a href="#" class="btn">Close</a>
                        <a href="#" class="btn btn-primary">Save changes</a>
                    </div>
                </div> -->
        </div>
 <div class="box-footer">
          <strong>Copyright &copy; 2020.</strong> All rights reserved.
        </div>
    </div>


 

    {% endblock content %}
    {% block js %}    
        
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>

        <script>
            $(document).ready(function() {
                $('#resultsTbl').DataTable({
                    autoWidth: false,
                    dom: 'Bfrtip',
                    // "pageLength": 50
                    scrollY: "500px",
                    scrollX : true,
                    columnDefs: [
                        { "width": "100px", "targets": "_all" }
                    ],
                    order: [[ 1, "desc" ]],
                    initComplete: function () {
                        this.api().columns(10).every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.header()) )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
             
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );
             
                            column.cells('', column[0]).render('display').sort().unique().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    }
                });
            } );
        </script>
</section>
        {% endblock js %}
